<style>
    .message-content {
        font-family: : Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px
    }
</style>

<div class="message-content">
    <p>Olá {{name}}</p>
    <br/>
    <p>Recebemos uma solicitação de redefinição de senha para sua conta.</p>
    <p>Caso deseje proseguir com a solicitação clique no link abaixo:</p>
    <p>
        <a href="{{link}}">Resetar senha</a>
    </p>
    <p>Caso você não tenha feito a solicitação, desconsidere nosso e-mail.</p>
    <br/>
    <p>Agradecemos pela preferência.</p>
</div>